*{
    margin: 0;
    padding: 0;
}
.maindiv{
    background-color: #8f8d8d ;
    height: 10vh;
    width: 100%;
    margin-bottom: 2rem;
    
   
}

.maindiv ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}

 Link{
    color: #fff;
    text-decoration: none;
    
 }